* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    background-color: #e1e7ec;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    height: 70vh;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 30%;
}

#bmi {
    padding: 2rem 0rem 2rem 0rem;
}

#height,
#weight {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

#calculate {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.result {
    margin-bottom: 0.8rem;

}

.weight-guide {
    line-height: 2rem;

}